<div class="container pt-4">
  <h1 class="mb-4">Homepage</h1>
  <button type="button" class="btn btn-success d-block mb-4" routerLink="/aggiungi" routerLinkActive="active">
    Vai sulla pagina Aggiungi
  </button>
  <button type="button" class="btn btn-info d-block mb-4" routerLink="/lista-dettagli" routerLinkActive="active">
    Vai sulla pagina Lista e Dettagli
  </button>
  <button type="button" class="btn btn-secondary d-block mb-4" routerLink="/form-dinamico" routerLinkActive="active">
    Form dinamico
  </button>
  <button type="button" class="btn btn-danger" routerLink="/form-record" routerLinkActive="active">
    Form record
  </button>
</div>

