table {
  width: 30rem;
}

thead {
  background-color: black;
  color: white;
}

tbody {
  border-width: 4px;
  border-color: white;
}

.tr-odd {
  background-color: rgb(203 203 203);
}

.tr-even {
  background-color: rgb(231 231 231);
}

.dipendent_id {
  color: rgb(91 155 213);
}

tr > th, tr > td {
  text-align: center;
}

.row {
  align-items: baseline;
}

