
<!-- first-row -->
<h1 class="mt-4">Pagina Aggiungi</h1>
<div class="row mb-4">
  <div class="col">
    <label for="d-nome" class="fw-bold">Nome</label><br>
    <input type="text" id="d-nome" name="d-nome" class="form-control form-control-lg border-dark .bg-light"
            [(ngModel)]="name">
  </div>
  <div class="col">
    <label for="d-cognome" class="fw-bold">Cognome</label><br>
    <input type="text" id="d-cognome" name="d-cognome" class="form-control form-control-lg border-dark"
            [(ngModel)]="lastName">
  </div>
</div>
<!-- second-row -->
<div class="row mb-4">
  <div class="col">
    <label for="d-data-nascita" class="fw-bold">Data di Nascita</label><br>
    <input type="date" id="d-data-nascita" name="d-data-nascita" class="form-control form-control-lg border-dark"
            [(ngModel)]="birthday" (click)="clickB($event)">
  </div>
  <div class="col">
    <label for="d-email" class="fw-bold">Email</label><br>
    <input type="email" id="d-email" name="d-email" class="form-control form-control-lg border-dark"
            [(ngModel)]="e_mail">
  </div>
</div>
<!-- third-row -->
<div class="btn-container">
  <button type="button" class="btn btn-warning me-4" (click)="resetFields()">Reset</button>
  <button type="button" class="btn btn-primary" (click)="getInputValue()">Aggiungi</button>
  <button type="button" class="btn btn-danger ms-4" routerLink="" routerLinkActive="active">Ritorna pagina Home</button>
</div>


